.md-chips .md-chip-input-container {
    width: 100%;
}


.md-fab.sidenav-close {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.md-button.sidenav-btn {
    text-align: left;
    height: 100%;
    width: 95%;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.fade {
    transition: 0.1s linear all;
    -webkit-transition: 0.1s linear all;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.md-super-mini {
    max-width: 36px;
    min-width: 36px;
    max-height: 36px;
    min-height: 36px;
}


.formContent {
    position: fixed;
    top: 0;
    width: 85%;
    padding: 25px;
    -webkit-transition: 0.2s linear all;
  	transition: 0.2s linear all;

}
.formContent.ng-enter {
    opacity: 0;
}
.formContent.ng-enter-active {
    opacity: 1;
}
.formContent.ng-leave {
    opacity: 1;
}
.formContent.ng-leave-active {
    opacity: 0;
}

.layout-max-width {
  width: 100%;
  max-width: 1200px;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }
