.formContent {
    max-width: 1000px;
    margin: 20px auto;
    padding: 3px 8px;
}
.formTitle {
    font-weight: 500;
    color: white;
    padding: 8px 20px;
    background-color: rgb(0, 70, 127);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.md-chips .md-chip-input-container md-autocomplete input {
    width: 600px;
}

/*
.detailscard {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 4px;
    -webkit-transform: translateY(0);
    -webkit-transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1)
}*/

.detailscard.ng-hide {
    max-height: 0;
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
}
.detailscard {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 4px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    max-height: 700px;
    opacity: 1;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 4px;
    -webkit-transform: translateY(0);
    -webkit-transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(71, 206, 230, 0.2);
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.addcard.ng-hide {
    max-height: 0;
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
}
.addcard {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    max-height: 600px;
    opacity: 1;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}
.hoverable:hover:after {
    opacity: .6
}
.hoverable:hover {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -ms-transition: -ms-transform .25s;
    -webkit-transition: -webkit-transform .25s;
    transition: transform .25s;
}
.hoverable:active {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -ms-transition: -ms-transform .25s;
    -webkit-transition: -webkit-transform .25s;
    transition: transform .25s;
}
.elevated {
    z-index: 1;
}
.raised-subhead {
    position: relative;
    top: -18px;
}
.center {
    text-align: center;
}
.lift-icon {
    position: relative;
    top: -10px;
}
.icon-60px {
    width: 60px;
    height: 60px;
}
.icon-90px {
    width: 90px;
    height: 90px;
}
.icon-120px {
    width: 120px;
    height: 120px;
}
.icon-150px {
    width: 150px;
    height: 150px;
}
.icon-100pc {
    width: auto;
    height: 100%;
    display: block;
}
.supplementary-plus {
    width: 72px;
    height: 72px;
    position: relative;
    right: 24px;
}
.right-offset-icon {
    position: relative;
    right: -30px;
}
.smaller-text80 {
    font-size: 80%;
}
.smaller-text90 {
    font-size: 90%;
}
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.padded-subheading {
    padding: 20px 0;
    line-height: .5;
    display: block;
}
.padded-heading {
    padding: 20px 0;
}
