<!DOCTYPE html>
<html lang="en" ng-app="dmpOnlineTool">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>DMPOnlineTool</title>

    <!-- Angular Material CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Local CSS -->
    <link href="css/DMPOnlineTool.css" rel="stylesheet" type="text/css">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

    <!-- Angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


</head>

<body>

    <div ng-controller="sideNavCtrl" ng-cloak="" layout="row">

        <!-- Sidenav -->
        <md-sidenav class="md-sidenav-left" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <div layout="row">
                    <h1 class="md-toolbar-tools">DMP Online Tool

                    </h1>
                    <md-button ng-click="toggleLeft()" class="sidenav-close md-fab md-primary" hide-gt-md="" flex="25">
                        <md-icon md-font-library="material-icons">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-padding="" ng-controller="LeftCtrl">
                <md-button ng-click="appPageService.pageID='project';toggleLeft()" class="sidenav-btn md-primary">Project</md-button>
                <br>
                <md-button ng-click="appPageService.pageID='contributors';toggleLeft()" class="sidenav-btn md-primary">Contributors</md-button>
                <br>
                <md-button ng-click="appPageService.pageID='policies';toggleLeft()" class="sidenav-btn md-primary">Policies and Guidance</md-button>
                <br>
                <md-button ng-click="appPageService.pageID='funding';toggleLeft()" class="sidenav-btn md-primary">Funding</md-button>
                <br>
                <md-button ng-click="appPageService.pageID='ethics';toggleLeft()" class="sidenav-btn md-primary">Ethics and Privacy</md-button>
            </md-content>
            <!-- Buttons -->
            <div layout-align="end end">
                <md-button class="md-raised md-primary" ng-click="userDataService.save()">
                    Save
                </md-button>
                <md-button class="md-raised md-primary" ng-click="userDataService.load()">
                    Load
                </md-button>

            </div>

        </md-sidenav>

        <div layout-align="top left">
            <md-button ng-click="toggleLeft()" class="md-fab md-primary" hide-gt-md="">
                <md-icon md-font-library="material-icons">reorder</md-icon>
            </md-button>
        </div>

        <!-- Form -->
        <div ng-controller="formCtrl" layout="column" layout-margin="" layout-padding="" layout-align="top left">

            <form novalidate>
                <!-- Controls the in-page switching -->
                <div ng-switch on="appPageService.pageID">

                    <div id="project" class="formContent" ng-switch-when="project">
                        <h2 class="md-display-2">Project details</h2>

                        <div layout="row">
                            <md-input-container flex>
                                <label>Project title</label>
                                <input ng-model="dmp.project.title">
                            </md-input-container>
                            <md-button class="md-fab md-super-mini md-primary" aria-label="Use Android" ng-click="helpBox($event,'Project title','If applying for funding, state the name exactly as in the grant proposal.')">
                                <md-icon md-font-library="material-icons">help</md-icon>
                            </md-button>
                        </div>
                        <br>

                        <div layout="row">
                            <md-input-container flex>
                                <label>Description</label>
                                <textarea ng-model="dmp.project.description" rows="3"></textarea>
                            </md-input-container>
                            <md-button class="md-fab md-super-mini md-primary" aria-label="Use Android" ng-click="helpBox($event,'Project description','Briefly summarise the type of study (or studies), the research questions being addressed and the purpose of any data being collected or created to help others understand the purposes for which the data are being collected or created.')">
                                <md-icon md-font-library="material-icons">help</md-icon>
                            </md-button>
                        </div>
                        <br>

                        <md-input-container layout="row">
                            <label>Field of Research</label>
                            <input ng-model="dmp.project.fieldOfResearch">
                        </md-input-container>
                        <br>


                        <!-- Dates -->
                        <div layout="row" layout-align="space-around center">
                            <div>
                                <md-input-container>
                                    <label>Start date</label>
                                    <md-datepicker ng-model="dmp.project.startDate"></md-datepicker>
                                </md-input-container>
                            </div>
                            <div id="endDate">
                                <md-input-container>
                                    <label>End date</label>
                                    <md-datepicker ng-model="dmp.project.endDate" md-placeholder="Ongoing" ng-required="false"></md-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <br>
                    </div>

                    <!-- Add/remove users -->
                    <div id="contributors" class="formContent" ng-switch-when="contributors">
                        <h2 class="md-display-2">Contributors

                        <md-button class="md-raised md-primary" ng-click="userDataService.addContributor()" >
                            <md-icon md-font-library="material-icons">add</md-icon>Add contributor
                        </md-button>
                        </h2>
                        <div layout="row" ng-repeat="contributor in dmp.contributors" class="fade">
                            <div layout="column">
                                <div layout="row">
                                    <md-input-container>
                                        <label>Name</label>
                                        <input ng-model="contributor.firstname">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>Affiliation</label>
                                        <input ng-model="contributor.affiliation">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>Email</label>
                                        <input ng-model="contributor.email">
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container>
                                        <label>Username</label>
                                        <input ng-model="contributor.username">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>orcid</label>
                                        <input ng-model="contributor.orcid">
                                    </md-input-container>

                                    <md-button class="md-fab md-primary" ng-click="confirmDeleteContributor($event,contributor.id)">
                                        <md-icon md-font-library="material-icons">close</md-icon>
                                    </md-button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Policies and guidance -->
                    <div id="policies" class="formContent" ng-switch-when="policies">
                        <h2 class="md-display-2">Policies and Guidance</h2>

                        <md-input-container layout="row">
                            <label>Related policies</label>
                            <textarea ng-model="dmp.policies.relatedPolicies" rows="3"></textarea>
                        </md-input-container>
                        <br>
                    </div>

                    <!-- Funding -->
                    <div id="funding" class="formContent" ng-switch-when="funding">
                        <h2 class="md-display-2">Funding</h2>

                        <md-input-container>
                            <label>Funding agency</label>
                            <input ng-model="dmp.funding.funder">
                        </md-input-container>

                        <md-input-container>
                            <label>Funding ID</label>
                            <input ng-model="dmp.funding.funderID">
                        </md-input-container>

                        <md-input-container>
                            <label>Research Office ID</label>
                            <input ng-model="dmp.funding.researchOfficeID">
                        </md-input-container>
                        <br>
                    </div>

                    <!-- Ethics -->
                    <div id="ethics" class="formContent" ng-switch-when="ethics">
                        <h2 class="md-display-2">Ethics and Privacy</h2>

                        <md-input-container>
                            <label>Ethics Requirements</label>
                            <input ng-model="dmp.ethics.required">
                        </md-input-container>

                        <md-input-container layout="row">
                            <label>How will you manage any ethical issues?</label>
                            <textarea ng-model="dmp.ethics.manageEthics" rows="3"></textarea>
                        </md-input-container>

                        <md-input-container>
                            <label>Are there other privacy and/or security requirements?</label>
                            <textarea ng-model="dmp.ethics.managePrivacy" rows="3"></textarea>
                        </md-input-container>
                        <br>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <!-- <script src="js/init.js"></script> -->
    <!-- <script src="js/field-of-research-calculator.js"></script> -->
    <script src="js/DMPOnlineTool.js"></script>
    <!-- <script src="js/sideNav.js"></script> -->
</body>

</html>
